<%- include('../admin/layouts/header.ejs') %>
    <div class="main-panel">
        <div class="content-wrapper">
            




            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add New Coupon</h4>
                        <!-- <p class="card-description"> Basic form elements </p> -->
                        <form class="forms-sample " action="/admin/coupon/add" method="post" onsubmit="return validateCouponForm();">

                            <div class="form-group  row">
                                <div class="col-6  text-light">
                                    <label for="exampleInputName1">Coupon Code</label>
                                    <input type="text" class="form-control  text-light" name="code" id="exampleInputName1" placeholder="code" onkeyup="this.value = this.value.toUpperCase();" >
                                </div>
                                <div class="col-6">
                                    <label for="exampleInputName1">Discount Amount</label>
                                    <input type="number" class="form-control text-light" id="exampleInputName1" name="discount_amount" placeholder="price" >
                                </div>

                            </div>
                            
                            <div class="row">
                                <div class="col-md-6 d-flex ">
                                    <div class="d-flex  mt-4 ">
                                        <p class="mdi mdi-calendar-multiple-check " style="font-size: 2.1rem;"></p>

                                    </div>
                                    <div class="form-group row mx-2 w-100" >
                                        <div class="col-sm-12 ">
                                            <label for="start-date" class="col-sm-22 col-form-label">Valid Date
                                                From</label>
                                            <input type="text" autocomplete="off" id="start-date" class="form-control text-light" name="validFrom" placeholder="Select Starting Date">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6  d-flex ">
                                    <div class="d-flex  mt-4 ">
                                        <p class="mdi mdi-calendar-multiple-check " style="font-size: 2.1rem;"></p>

                                    </div>
                                    <div class="form-group row mx-2 w-100" >
                                        <div class="col-sm-12  ">
                                            <label for="end-date" class="col-sm-22 col-form-label">Valid Date To</label>
                                            <input type="text" autocomplete="off" id="end-date" class="form-control text-light" name="validTo" placeholder="Select Expiring Date" >
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label class="col-sm-3 col-form-label">Minimum Spend</label>
                                            <input type="number" class="form-control text-light" id="exampleInputName1" name="minimumSpend" placeholder="Enter Stock" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label class="col-sm-3 col-form-label">Maxinum Users</label>
                                            <input type="number" class="form-control text-light" id="exampleInputName1" name="maxUsers" placeholder="Enter Stock" >
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mt-2">
                                <label for="exampleTextarea1">Description</label>
                                <textarea name="description" class="form-control text-light" id="exampleTextarea1" rows="4" ></textarea>
                            </div>

                            <button type="submit" class="btn btn-lg btn-primary mr-2 mt-5">Add Coupon</button>
                        </form>


                    </div>
                </div>
            </div>
            


        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
            <div class="content-wrapper ">
                <div id="FormAlert" data-aos="fade-down" class="alert alert-danger col-md-3 col-8 mx-auto fixed-top "
                style="display: none;  top:30px; border-radius: 7px; opacity: 0.9; " role="alert">
                <h6 class="alert-heading text-center">Please provide only valid data.</h6>
                <hr>
                <span class="row "><i class="fa-sharp fa-light fa-circle-xmark fa-shake" style="color: #ff0505; font-size: 18px;"></i> &nbsp;&nbsp;&nbsp; <p id="ValidErrMess"></p></span>
                 
            </div>

            <%if(codeErr==1){%>
                <div class="content-wrapper ">
                    <div id="CodeAlert" data-aos="fade-down" class="alert alert-danger col-md-3 col-8 mx-auto fixed-top "
                    style="  top:30px; border-radius: 7px; opacity: 0.9; " role="alert">
                    <h6 class="alert-heading text-center">Code Not available</h6>
                    <hr>
                    <span class="row "> &nbsp;&nbsp;&nbsp; <p id="ValidErrMess">This coupon code isn't available, it's already been used</p></span>
                     
                </div>
                <script>
                      setTimeout(function () {
                        $("#CodeAlert").fadeOut();
                      }, 5000);
                </script>
            <%}%>
        </footer>
        <!-- partial -->
        

        
    </div>
    <script>

        

        $("#start-date").datepicker({
            dateFormat: 'yy-mm-dd',
            onSelect: function (selectedDate) {
                var minDate = new Date(selectedDate);
                minDate.setDate(minDate.getDate() + 1); // Set the minimum date for the end date picker to the next day
                $("#end-date").datepicker("option", "minDate", minDate);
            }
        });

        $("#end-date").datepicker({
            dateFormat: 'yy-mm-dd'
        });

        

    </script>
      




    <%- include('../admin/layouts/footer.ejs') %>