</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="/admin/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/admin/vendors/chart.js/Chart.min.js"></script>
<script src="/admin/vendors/progressbar.js/progressbar.min.js"></script>
<script src="/admin/vendors/jvectormap/jquery-jvectormap.min.js"></script>
<script src="/admin/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="/admin/vendors/owl-carousel-2/owl.carousel.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/admin/js/off-canvas.js"></script>
<script src="/admin/js/hoverable-collapse.js"></script>
<script src="/admin/js/misc.js"></script>
<script src="/admin/js/settings.js"></script>
<script src="/admin/js/todolist.js"></script>
<!-- endinject -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<!-- Custom js for this page -->
<script src="/admin/js/dashboard.js"></script>
<script src="/admin/js/formValidations.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>

<!-- End custom js for this page -->
</body>

</html>