<!DOCTYPE html>
<html>
<head>
    <title>Interlinked Date Pickers</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
</head>
<body>
    <form action="/checkout" method="post" id="addressForm">
       

                <label class="p-3 border rounded-4 m-2 custom-label">
                    <div class="form-check d-flex align-items-center mx-4">
                        <input class="form-check-input " type="radio" value="<%=address[i]._id %>"
                            name="address" id="Radio>" <%
                            checked 
                            >
                            <div class="mx-5">
                                <p class="text-dark"><b>
                                        ffhdh
                                    </b> , dfgdfg
                                            Contanct
                                            Number:
                                            <b style="color: #043a6c;">
                                                <span class="material-symbols-outlined"
                                                    style="font-size: 13px;">smartphone</span>
                                               dfgdfg
                                            </b></p>
                                <p>
                                    dfgdfg
                                </p>
                            </div>
                    </div>
                </label>
                <label class="p-3 border rounded-4 m-2 custom-label">
                    <div class="form-check d-flex align-items-center mx-4">
                        <input class="form-check-input " type="radio" value="<%=address[i]._id %>"
                            name="address" id="Radio" >
                            <div class="mx-5">
                                <p class="text-dark"><b>
                                        ffhdh
                                    </b> , dfgdfg
                                            Contanct
                                            Number:
                                            <b style="color: #043a6c;">
                                                <span class="material-symbols-outlined"
                                                    style="font-size: 13px;">smartphone</span>
                                               dfgdfg
                                            </b></p>
                                <p>
                                    dfgdfg
                                </p>
                            </div>
                    </div>
                </label>
                
               
            </form>
</body>
</html>
