<!DOCTYPE html>
<html lang="en">


<!-- molla/index-2.html  22 Nov 2019 09:55:32 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Specsy</title>
    <meta name="keywords" content="HTML5">
    <meta name="description" content="Specsy - eCommerce">
    <meta name="author" content="arshad">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="user/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="user/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="user/images/icons/favicon-16x16.png">
    <link rel="manifest" href="user/images/icons/site.html">
    <link rel="mask-icon" href="user/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="user/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="user/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

    <!-- google icon  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="/user/js/ajaxScript.js"></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/user/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/user/css/plugins/magnific-popup/magnific-popup.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Main CSS File -->
    <link rel="stylesheet" href="/user/css/style.css">

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


    <!-- //font-awesome test links -->
    <link rel="stylesheet" href="/user/v6.4.2/css/sharp-solid.css">
    <link rel="stylesheet" href="/user/v6.4.2/css/sharp-regular.css">
    <link rel="stylesheet" href="/user/v6.4.2/css/sharp-light.css">
    <link rel="stylesheet" href="/user/v6.4.2/css/all.css">
    


</head>

<body>