<!DOCTYPE html>
<html lang="en">


<!-- molla/index-2.html  22 Nov 2019 09:55:32 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Specsy</title>
    <meta name="keywords" content="HTML5">
    <meta name="description" content="Specsy - eCommerce">
    <meta name="author" content="arshad">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="user/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="user/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="user/images/icons/favicon-16x16.png">
    <link rel="manifest" href="user/images/icons/site.html">
    <link rel="mask-icon" href="user/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="user/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="user/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="/user/js/ajaxScript.js"></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="user/css/bootstrap.min.css">
    <link rel="stylesheet" href="user/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="user/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="user/css/style.css">
</head>

<body>